name: Docker Image CI

on:
  push:
    branches: [ "development" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
        
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build and push Docker images
      uses: docker/build-push-action@v5.1.0
      with:
        push: true
        context: ./src
        tags: ghcr.io/parzival-space/basic-samba:latest